.page-content
  z-index 100
  padding $layoutSpace
  position: absolute;
  top: 0;
  text-align: left
  max-width 50%
  color: #ffffff
  font-family "Times New Roman", Times, serif;
  @media screen and (max-width: 568px)
    padding $layoutSpaceHalf
  img
    width 150px
    @media screen and (max-width: 568px)
      max-width 100px
      width 100%
  h1
    margin-top: 10px
    font-weight normal
    font-size 20px
    text-shadow: 1px 1px #808080;
    @media screen and (max-width: 568px)
      margin-top 0
      font-size 13px
      min-width: 100px
