.page-content
  z-index 100
  padding $layoutSpace
  position: absolute;
  top: 0;
  text-align: left
  min-width 320px
  color: #ffffff
  font-family "Times New Roman", Times, serif;
  text-transform uppercase
  h1
    margin-left 10px
    margin-top: $layoutSpace
    font-weight normal
    font-size 22px
    text-shadow: 1px 1px #808080;
