.scene-wrapper
  color: $fontColor
  font-family Arial, Helvetica, sans-serif
  font-size 22px
  @media screen and (max-width: 768px)
    font-size 14px

h1
h2
  margin-top: 0
  font-weight normal
  font-size 20px
  text-shadow: 1px 1px #808080;
  line-height: 1.4em
  @media screen and (max-width: 768px)
    margin-top 0
    font-size 13px

.overlay-content
  position: absolute;
  width 100%
  height ($logoHeight + (2 * $layoutSpace))
  display flex
  align-items center
  @media screen and (max-width: 768px)
    height ($logoHeightMobile + (2 * $layoutSpaceHalf))
  .logo
  .edit-title
    margin-left $layoutSpace
    z-index 10001
    @media screen and (max-width: 768px)
      margin-left $layoutSpaceHalf
  .logo
    width $logoHeight
    @media screen and (max-width: 768px)
      width $logoHeightMobile
    img
      width 100%
  .edit-title
    left ($logoHeight + (2 * $layoutSpace))
    max-width calc(100% - 240px)
    @media screen and (max-width: 768px)
      max-width calc(100% - 160px)
      left ($logoHeightMobile + (2 * $layoutSpaceHalf))
