.page-nav
  height $headerHeight
  font-weight: bold
  padding 0 $layoutSpace
  > ul
    justify-content flex-end
    align-items center
    text-transform uppercase
    display flex
    > li
      padding $layoutSpace 0
      + li
        margin-left $layoutSpaceHalf
