// http://www.colourlovers.com/palette/4344492/foliage
$colorPrimary = rgba(10, 10, 10, 1)
$colorSecondary = #B8D982
$colorPrimaryLight = lighten($colorPrimary, 50%)
$colorSecondaryLight = #EBFFBE
$colorHighlight = #678782
$colorHighlightLight = #79A7A4

$colorWhite = #ffffff
$colorBlack = $colorPrimary
$colorDanger = #F24E4E
$colorWarning = #F2C94E
$colorSuccess = $colorSecondary

$fontColor = $colorBlack
