$colorWhite = #ffffff
$colorBlack = rgba(20,20,20,0.7)
$colorError = red
$colorWarning = #F2C94E

/** Layout variables **/
$bodyBgColor = $colorWhite

/** Font colors **/
$fontColor = $colorWhite

$linkColor = $colorPrimary
$linkColorHover = $colorPrimaryShade

/** Layout variables **/
$layoutSpace = 20px
$layoutSpaceHalf = $layoutSpace/2
$layoutSpaceDouble = $layoutSpace*2
$layoutSpaceAndHalf = $layoutSpace*1.5


$logoHeightMobile = 70px
$logoHeight = 140px
