/** Import color scheme **/
@require '../colorSchemes/_colors-default'

/** Layout variables **/
$bodyBgColor = $colorWhite


/** Font colors **/
$fontColor = $colorBlack

$linkColor = $colorPrimary
$linkColorHover = $colorPrimaryShade

/** Font Families **/
$fontPathwayGothic = 'Pathway Gothic One', sans-serif;
$fontRubik = 'Rubik', sans-serif
$fontRobotoMono = 'Roboto Mono', monospace
$fontChivo = 'Chivo', sans-serif;

$fontFamiliyBase = $fontRobotoMono
$fontFamilyHighlight = $fontRubik

/** Layout variables **/
$layoutSpace = 20px
$layoutSpaceHalf = $layoutSpace/2
$layoutSpaceDouble = $layoutSpace*2
$layoutSpaceAndHalf = $layoutSpace*1.5


$footerHeight = 60px
$headerHeight = 60px
